doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/jansy-bootstrap.css')
    script(src='/js/jquery.min.js')
    script(src='/js/jansy-bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content